.CreateNewTable {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
}

.title {
    margin: 15px;
    font-size: 18px;
}

.tableName {
    margin-right: 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    width: 350px;
}
