@mixin cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    text-align: center;
}


.HeaderCell {
    @include cell();
    font-weight: bold;
    margin: 3px;
    border-left: 1px #fff solid;
}

.SearchCell {
    @include cell();
    margin: 0px 3px 0px 3px;
    border-left: 1px #19aa8d solid;
}

.Cell_value {
    width: 100%;
    height: 100%;
    height: 16px;
    resize: none;
    text-align: center;
    font-size: small;
    overflow: hidden;
}