@mixin cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    text-align: center;
}


.HeaderCell {
    @include cell();
    font-weight: bold;
    margin: 3px;
    border-left: 1px #fff solid;
    transition: 0.7s;
    background-color: inherit;
    cursor: default;
}

.SearchCell {
    @include cell();
    margin: 0px 3px 0px 3px;
    border-left: 1px #19aa8d solid;
    transition: 0.7s;
    background-color: inherit;
}

.Cell_value {
    width: 100%;
    height: 100%;
    height: 16px;
    resize: none;
    text-align: center;
    font-size: small;
    overflow: hidden;
    transition: 0.5s;
    background-color: inherit;
    padding-left: 3px;
}

.readOnly {
    cursor: pointer;
}