.ToolBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

.space {
    width: 10px;
}

.select_table {
    height: 40px;
    width: 200px;
    border-radius: 5px;
    font-size: 18px;
    appearance: none;
}